.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab {
  position: fixed;
  width: 95%;
  top: 10%;
  height: calc(80% - 40px);
  padding-top: 20px;
  overflow: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.submission {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2fb;
  height: 30%;
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
